@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Calle 53c sur #40b-160<br />
    Apto 111 torre 6 urbanización: Vegas de las flores<br />
    Envigado, Antioquia<br />
    <abbr title="Phone">Teléfono:</abbr>
    +57 310 5486847
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">antoniovargas@outlook.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">antoniovargas@outlook.com</a>
</address>