@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-10">
        <h2>Problema</h2>
        <p>
            La Real Academia Española, se encuentra elaborando un estudio respecto a las palabras más usadas
            en el idioma. Por consiguiente, requiere con urgencia el desarrollo de una aplicación que permita
            efectuar un análisis muy específico respecto al contenido de varios libros de nuestra literatura.
        </p>
        <p>
            Este análisis consiste en determinar el porcentaje de uso de las palabras (distintas) incluidas 
            en el texto de una serie de libros.
        </p>
        <p>
            Para efectos del experimento, se tomará como separador de palabras únicamente el carácter de espacio 
            y no se debe distinguir entre mayúsculas y minúsculas.
        </p>
    </div>
</div>
